*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.homelogo{
    margin-right: auto;
}

.headerbtn{
    text-decoration: none;
    font-size: 15px;
    color: #f9faf8;
    margin-right: 10px;
}

.headerlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.headercontent{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 60px;
    padding-bottom: 60px;

}

.headtext{
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 50%;
    justify-content: center;
    align-items: flex-start;
}

.headtitle{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    text-align: center;
}

.headcontent{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    text-align: left;
}

.signup{
    background-color: #3882f6;
    color: white;
    padding: 10px;
    border-radius: 25%;
    margin-top: 10px;
}

.headerimg{
    height: auto;
    flex: 1 1 50%;
    max-width: 300px;
    min-width: 150px;
}

.content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.contenthead{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    flex: 1 1 auto;
    margin: 10px 0;
    text-align: center;
}

.subtexts{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.subtext_container{
    flex: 1 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* border: 5px solid blue; */
    margin: 0 20px
}

.subtextimg{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 25px;
    /* border: 5px solid orange */
}

.subtext{
    width: 200px;
    /* border: 5px solid yellow; */
    margin: 0 auto;
}